
html,
body {
  --scrollVar:0;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x:hidden;
  overflow-y:auto;


  
}
/*  add a red (or green) tint */
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#cartSideBarHandle {
  position:fixed;
  display:block;
  top:50%;
  right:0%;

  
  width:75px;
  height:75px;
  -webkit-transform: initial;
  transform: initial;
  
  transition: transform 500ms ease, opacity 500ms ease;
  z-index:99;
  opacity:50%;
  border-style:inset;
  border-top-left-radius: 125px 125px;
  border-bottom-left-radius: 125px 125px;
}

#cartSideBarHandle.showing {
  -webkit-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
  opacity:90%;
}
#cartSideBar {
  position:fixed;
  display:block;
  top:56px;
  right:-250px;
  width:250px;
  -webkit-transform: initial;
  transform: initial;
  height:100%;
  transition: transform 500ms ease, opacity 500ms ease;
  z-index:99;
  opacity:50%;
  /* border-style:inset;
  border-start-end-radius: 150px 100px; */
  /* direction:rtl; */
}

#cartSideBar.showing {
  -webkit-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
  opacity:90%;
}

.navbar{
  position:fixed;
  width:100%;
  background: hsl(220,25%, 25%);
  /* var(--scrollVar) */
}
.search {
  display:block;
  position:absolute;
  top:40%;
  width:30%;
  padding: 10px 30px 20px 30px !important;

}

#searchField {
  border-radius: 25px;
  z-index:50;
  min-width:443px;
  max-width:443px;
  box-shadow:0px 5px 3px #303030;
}
#searchCatSelector {
  z-index:51;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
#searchBtn {
  z-index:51;
  /* border-color:#ffffff; */
  position:absolute;
  left:400px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow:0px 5px 3px #303030;
}
#homePageSectionGroup{
  position:absolute;
  display:block;
  width:100%;
  height:100%;
  top:56px;
  left:0px;
}



.pageSection {
  width:100%;
  display:block;
  height:100vh;
}


.pageSection.sushi {
  /* background:radial-gradient(ellipse at bottom right, #bbb 25% ,#ccc 60%, #eee 80%); */
  /* margin:100px;
  display:contents; */
  --angle:0deg;
  transition:--angle 1s;
  background-image: repeating-conic-gradient(from var(--angle) at 50% 25%, 
  #bbbeee 5deg 15deg ,
  #ccceee 15deg 25deg, #ccceee 16deg 36deg,  #cddeee 17deg 37deg,#ceeeee 18deg 38deg,#cffeee 19deg 39deg,
  #eeeeee 35deg 80deg);
  /* repeating-linear-gradient(30deg, #bbbeee 25% ,#ccceee 30%, #ccceee,  #eeeeee); */

  /* background-position:from 30deg at 0% 25%; */
  
}
@property --angle {
  syntax:"<angle>";
  inherits:false;
  initial-value:10deg;
}

.pageSection.sushi:hover {
  --angle:60deg;
}

.pageSection.background {
  /* background-image:url(#gridBackground); */
  /* background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='90' height='45'%3E%3Cpath d='M10 10h60' stroke='%2300F' stroke-width='5'/%3E%3Cpath d='M10 20h60' stroke='%230F0' stroke-width='5'/%3E%3Cpath d='M10 30h60' stroke='red' stroke-width='5'/%3E%3C/svg%3E"); */
  /* background-size:500%;
  */
  background-size:200%;
  background-position:-250px -250px; 
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'%3E%3Cfilter id='lightFilter'%3E%3CfeDiffuseLighting result='light2' lighting-color='white'%3E%3CfePointLight x='900' y='562' z='1'/%3E%3C/feDiffuseLighting%3E%3CfeComposite in='SourceGraphic' in2='light2' operator='arithmetic' k1='0' k2='1' k3='1' k4='0'/%3E%3C/filter%3E%3Crect filter='url(%23lightFilter)' x='0' y='0' width='100%' height='100%' fill='hsl(220,75%, 30%)' /%3E%3C/svg%3E"); */

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'%3E%3Cfilter id='lightFilter'%3E%3CfeDiffuseLighting result='light2' lighting-color='white'%3E%3CfePointLight x='800' y='562' z='20'/%3E%3C/feDiffuseLighting%3E%3CfeComposite in='SourceGraphic' in2='light2' operator='arithmetic' k1='1' k2='1' k3='1' k4='0'/%3E%3C/filter%3E%3Crect filter='url(%23lightFilter)' x='0' y='0' width='100%' height='100%' fill='hsl(220,75%, 30%)' /%3E%3C/svg%3E");

  background-repeat: repeat;
  transition: background-position 1s ease;
}

.pageSection.background:hover {
  background-position: -1000px -250px;

}

.pageSection .section0 {
  width:100%;
  height:100%;
  
  
}


.pageSection.section1 {
  background-image:repeating-radial-gradient(ellipse at top left, hsl(120,50%, 30%) 25% ,hsl(120,70%, 30%) 60%, hsl(120,80%, 30%) 80%);
  background-size:200%;
  background-position:0% 30%;
  transition:background-position 1s ease;
}

.pageSection.section1:hover {
  background-position:70% 60%;
  /* background-image:"" */
  /* M 5.075 2.894 C -4.592 1.419 4.715 -1.35 -4.985 -4.02 L 4.977 -4.021 L 5.042 2.959 */
}





.sectionCard  {
  position:relative;
  margin-top:auto;
  margin-bottom:auto;
  margin-left:auto;
  margin-right:auto;
  /* margin-right:20%; */
  
  width:80%; 
  height:80%;
}
.sectionCardImage {
  display:block;
  width:100%; 
  height:100%;
  filter:blur(5px);
}


.sushiPlateImage {
  width:100%;
  height:100%;
}
.noodleImage {
  width:50%;
  height:50%;
}

.imageCarousel {
  width:50%;
  height:60%;
}







.gridRect:nth-child(n):nth-child(-n+5),.gridRect:nth-child(n+66):nth-child(-n+70), .gridRect:nth-child(5n) {
  fill:hsl(220,75%, 33%);
  

  /* -webkit-transform: skewX(30deg);
  transform: skewX(30deg); */
}

.gridRect:nth-child(n+6):nth-child(-n+9),.gridRect:nth-child(n+61):nth-child(-n+64), .gridRect:nth-child(5n-1) {
  fill:hsl(220,75%, 38%);
  /* -webkit-transform: skewX(30deg);
  transform: skewX(30deg); */
}
.gridRect:nth-child(n+11):nth-child(-n+13),.gridRect:nth-child(n+56):nth-child(-n+58), .gridRect:nth-child(5n-2) {
  fill:hsl(220, 75%, 45%);
  /* -webkit-transform: skewX(30deg);
  transform: skewX(30deg); */
}
.gridRect:nth-child(n+16):nth-child(-n+17),.gridRect:nth-child(n+51):nth-child(-n+52), .gridRect:nth-child(5n-3) {
  fill:hsl(220,75%, 40%);
  /* -webkit-transform: skewX(30deg);
  transform: skewX(30deg); */
}
.gridRect:nth-child(n+21):nth-child(-n+21),.gridRect:nth-child(n+46):nth-child(-n+46), .gridRect:nth-child(5n-4) {
  fill:hsl(220,75%, 45%);
  /* -webkit-transform: skewX(30deg);
  transform: skewX(30deg); */
  
}

/* .gridRect:nth-child(5n-4) {
  transition:transform 1s ease;
} */


/* .gridRect:nth-child(n):nth-child(-n+5) {
  fill:hsl(220,75%, 33%);
}
.gridRect:nth-child(n+6):nth-child(-n+10) {
  fill:hsl(220,75%, 34%);
}
.gridRect:nth-child(n+6):nth-child(-n+15) {
  fill:hsl(220, 75%, 35%);
}
.gridRect:nth-child(n+11):nth-child(-n+20) {
  fill:hsl(220, 75%, 38%);
}
.gridRect:nth-child(n+21):nth-child(-n+25) {
  fill:hsl(220,75%, 40%);
}
.gridRect:nth-child(n+21):nth-child(-n+30) {
  fill:hsl(220,75%, 43%);
}
.gridRect:nth-child(n+31):nth-child(-n+40)  {
  fill:hsl(220,75%, 45%);
}
.gridRect:nth-child(n+41):nth-child(-n+45) {
  fill:hsl(220,75%, 43%);
}
.gridRect:nth-child(n+41):nth-child(-n+50) {
  fill:hsl(220,75%, 40%);
}
.gridRect:nth-child(n+51):nth-child(-n+55) {
  fill:hsl(220,75%, 38%);
}
.gridRect:nth-child(n+51):nth-child(-n+60) {
  fill:hsl(220,75%, 35%);
}
.gridRect:nth-child(n+61):nth-child(-n+65) {
  fill:hsl(220,75%, 34%);
}
.gridRect:nth-child(n+61):nth-child(-n+70) {
  fill:hsl(220,75%, 33%);
} */




