
html,
body {
  --scrollVar:0;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x:hidden;
  overflow-y:auto;
  --homeGridX: calc(100vw/100);
  --homeGridY: calc(100vh);
  --homeGridRectLen: 100px;
  

  --hueSection0 :0;
  /* --hueSection1 :0; */
  
}
/*  add a red (or green) tint */
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#cartSideBarHandle {
  position:fixed;
  display:block;
  top:50%;
  right:0%;

  
  width:75px;
  height:75px;
  -webkit-transform: initial;
  transform: initial;
  
  transition: transform 500ms ease, opacity 500ms ease;
  z-index:99;
  opacity:50%;
  border-style:inset;
  border-top-left-radius: 125px 125px;
  border-bottom-left-radius: 125px 125px;
}

#cartSideBarHandle.showing {
  -webkit-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
  opacity:90%;
}
#cartSideBar {
  position:fixed;
  display:block;
  top:56px;
  right:-250px;
  width:250px;
  -webkit-transform: initial;
  transform: initial;
  height:100%;
  transition: transform 500ms ease, opacity 500ms ease;
  z-index:99;
  opacity:50%;
  /* border-style:inset;
  border-start-end-radius: 150px 100px; */
  /* direction:rtl; */
}

#cartSideBar.showing {
  -webkit-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
  opacity:90%;
}

.navbar{
  position:fixed;
  z-index:100;
  width:100%;
  background: hsl(var(--hueSection0),25%, 25%);
  /* var(--scrollVar) */
}
.search {
  display:block;
  position:absolute;
  top:40%;
  width:30%;
  padding: 10px 30px 20px 30px !important;

}

.searchField {
  border-radius: 25px;
  z-index:50;
  min-width:443px;
  max-width:443px;
  box-shadow:0px 5px 3px #303030;
}
#searchCatSelector {
  z-index:51;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.searchBtn {
  z-index:51;
  /* border-color:#ffffff; */
  position:absolute;
  left:400px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow:0px 5px 3px #303030;
}
#homePageSectionGroup{
  position:absolute;
  display:block;
  width:100%;
  height:100%;
  top:56px;
  left:0px;
  
  
}

.pageSection {
  width:100%;
  display:block;
  height:100vh;
}


.pageSection.sushi {
  /* background:radial-gradient(ellipse at bottom right, #bbb 25% ,#ccc 60%, #eee 80%); */
  /* margin:100px;
  display:contents; */
  --angle:0deg;
  transition:--angle 1s;
  background-image: repeating-conic-gradient(from var(--angle) at 50% 25%, 
  #bbbeee 5deg 15deg ,
  #ccceee 15deg 25deg, #ccceee 16deg 36deg,  #cddeee 17deg 37deg,#ceeeee 18deg 38deg,#cffeee 19deg 39deg,
  #eeeeee 35deg 80deg);
  /* repeating-linear-gradient(30deg, #bbbeee 25% ,#ccceee 30%, #ccceee,  #eeeeee); */

  /* background-position:from 30deg at 0% 25%; */
  
}
@property --angle {
  syntax:"<angle>";
  inherits:false;
  initial-value:10deg;
}


@property --pathProg1_1 {
  syntax:"<percentage>";
  inherits:false;
  initial-value:5%;
}




/* #path1 {
  animation-name:pathAnim;
  animation-duration:5s;
  animation-iteration-count: infinite;
} */

.pageSection.sushi:hover {
  --angle:60deg;
}


#gridSquares {

  --xShift: calc(50vw - 367.5px);
  --yShift: calc(50vh - 367.5px);
  transform:translate(var(--xShift), var(--yShift));
}


/* .pageSection.background:hover {
  background-position: -1000px -250px;

} */

#backgroundSection0 {
  /* margin-left: calc(100vw-100px);
  margin-right:calc(100vw-100px); */
 
  
  width:100%;
  height:100%;
}

.pageSection.section1 {
  background-image:repeating-radial-gradient(ellipse at top left, hsl(120,50%, 30%) 25% ,hsl(120,70%, 30%) 60%, hsl(120,80%, 30%) 80%);
  background-size:200%;
  background-position:0% 30%;
  transition:background-position 1s ease;
}

.pageSection.section1:hover {
  background-position:70% 60%;
  /* background-image:"" */
  /* M 5.075 2.894 C -4.592 1.419 4.715 -1.35 -4.985 -4.02 L 4.977 -4.021 L 5.042 2.959 */
}

.sectionCard  {
  position:relative;
  margin-top:auto;
  margin-bottom:auto;
  margin-left:auto;
  margin-right:auto;
  /* margin-right:20%; */
  
  width:80%; 
  height:80%;
}
.sectionCardImage {
  display:block;
  width:100%; 
  height:100%;
  filter:blur(5px);
}


.sushiPlateImage {
  width:100%;
  height:100%;
}
.noodleImage {
  width:50%;
  height:50%;
}

.imageCarousel {
  width:50%;
  height:60%;
}

/* .gridRect.top {
  transform: translateZ(50px);
} */

/* .gridShape:nth-child(7n-6) .gridRect, */
/* .gridShape:nth-child(6n-5) .gridRect, .gridShape:nth-child(6n-4) .gridRect, .gridShape:nth-child(6n-3) .gridRect{
 
  fill:hsl(var(--hueSection0),75%, 32%);
} */


@property --gridShade1 {
  syntax:"<percentage>";
  inherits:false;
  initial-value:32%;
}
@property --gridShade2 {
  syntax:"<percentage>";
  inherits:false;
  initial-value:34%;
}
@property --gridShade3 {
  syntax:"<percentage>";
  inherits:false;
  initial-value:36%;
}
@property --gridShade4 {
  syntax:"<percentage>";
  inherits:false;
  initial-value:38%;
}
@property --gridShade5 {
  syntax:"<percentage>";
  inherits:false;
  initial-value:40%;
}
@property --gridShade6 {
  syntax:"<percentage>";
  inherits:false;
  initial-value:42%;
}
@property --gridShade7 {
  syntax:"<percentage>";
  inherits:false;
  initial-value:44%;
}
@property --gridShade8 {
  syntax:"<percentage>";
  inherits:false;
  initial-value:46%;
}
@keyframes gridAnim {
  0% {
    --gridShade1: 32% ;
    --gridShade2: 34% ;
    --gridShade3: 36% ;
    --gridShade4: 38% ;
    --gridShade5: 40% ;
    --gridShade6: 42% ;
    --gridShade7: 44% ;
    --gridShade8: 46%;
  }
  12.5% {
    --gridShade1: 46% ;
    --gridShade2: 32% ;
    --gridShade3: 34% ;
    --gridShade4: 36% ;
    --gridShade5: 38% ;
    --gridShade6: 40% ;
    --gridShade7: 42% ;
    --gridShade8: 44%;
  }
  25% {
    --gridShade1: 44% ;
    --gridShade2: 46% ;
    --gridShade3: 32% ;
    --gridShade4: 34% ;
    --gridShade5: 36% ;
    --gridShade6: 38% ;
    --gridShade7: 40% ;
    --gridShade8: 42%;
  }
  37.5% {
    --gridShade1: 42% ;
    --gridShade2: 44% ;
    --gridShade3: 46% ;
    --gridShade4: 32% ;
    --gridShade5: 34% ;
    --gridShade6: 36% ;
    --gridShade7: 38% ;
    --gridShade8: 40%;
  }
  50% {
    --gridShade1: 40% ;
    --gridShade2: 42% ;
    --gridShade3: 44% ;
    --gridShade4: 46% ;
    --gridShade5: 32% ;
    --gridShade6: 34% ;
    --gridShade7: 36% ;
    --gridShade8: 38%;
  }
  62.5% {
    --gridShade1: 38% ;
    --gridShade2: 40% ;
    --gridShade3: 42% ;
    --gridShade4: 44% ;
    --gridShade5: 46% ;
    --gridShade6: 32% ;
    --gridShade7: 34% ;
    --gridShade8: 36%;
  }
  75% {
    --gridShade1: 36% ;
    --gridShade2: 38% ;
    --gridShade3: 40% ;
    --gridShade4: 42% ;
    --gridShade5: 44% ;
    --gridShade6: 46% ;
    --gridShade7: 32% ;
    --gridShade8: 34%;
  }
  87.5% {
    --gridShade1: 34% ;
    --gridShade2: 36% ;
    --gridShade3: 38% ;
    --gridShade4: 40% ;
    --gridShade5: 42% ;
    --gridShade6: 44% ;
    --gridShade7: 46% ;
    --gridShade8: 32%;
  }
  
  
  
}


.gridShape:nth-child(8n-8) .gridRect {
  fill:hsl(var(--hueSection0),75%, var(--gridShade1));
  animation-name:gridAnim;
  animation-duration:1s;
  animation-iteration-count: infinite;
}
.gridShape:nth-child(8n-7) .gridRect {
  fill:hsl(var(--hueSection0),75%, var(--gridShade2));
  animation-name:gridAnim;
  animation-duration:1s;
  animation-iteration-count: infinite;
}
.gridShape:nth-child(8n-6) .gridRect {
  fill:hsl(var(--hueSection0),75%, var(--gridShade3));
  animation-name:gridAnim;
  animation-duration:1s;
  animation-iteration-count: infinite;
}
.gridShape:nth-child(8n-5) .gridRect {
  fill:hsl(var(--hueSection0),75%, var(--gridShade4));
  animation-name:gridAnim;
  animation-duration:1s;
  animation-iteration-count: infinite;
}
.gridShape:nth-child(8n-4) .gridRect {
  fill:hsl(var(--hueSection0),75%, var(--gridShade5));
  animation-name:gridAnim;
  animation-duration:1s;
  animation-iteration-count: infinite;
}
.gridShape:nth-child(8n-3) .gridRect {
  fill:hsl(var(--hueSection0),75%, var(--gridShade6));
  animation-name:gridAnim;
  animation-duration:1s;
  animation-iteration-count: infinite;
}
.gridShape:nth-child(8n-2) .gridRect {
  fill:hsl(var(--hueSection0),75%, var(--gridShade7));
  animation-name:gridAnim;
  animation-duration:1s;
  animation-iteration-count: infinite;
}
.gridShape:nth-child(8n-1) .gridRect {
  fill:hsl(var(--hueSection0),75%, var(--gridShade8));
  animation-name:gridAnim;
  animation-duration:1s;
  animation-iteration-count: infinite;
}















.gridShape:nth-child(n):nth-child(-n+5) image,.gridShape:nth-child(n+66):nth-child(-n+70) image, .gridShape:nth-child(5n) image{
  filter:drop-shadow(0px 0px 14px hsl(var(--hueSection0), 69%, 40%)) brightness(50%);
}

.gridShape:nth-child(n+6):nth-child(-n+9) image,.gridShape:nth-child(n+61):nth-child(-n+64) image, .gridShape:nth-child(5n-1) image{
  
  filter:drop-shadow(0px 0px 14px hsl(var(--hueSection0), 69%, 42%)) brightness(60%);
 
}
.gridShape:nth-child(n+11):nth-child(-n+13) image,.gridShape:nth-child(n+56):nth-child(-n+58) image, .gridShape:nth-child(5n-2) image{
  filter:drop-shadow(0px 0px 14px hsl(var(--hueSection0), 69%, 44%)) brightness(70%);

}
.gridShape:nth-child(n+16):nth-child(-n+17) image,.gridShape:nth-child(n+51):nth-child(-n+52) image, .gridShape:nth-child(5n-3) image {
  filter:drop-shadow(0px 0px 14px hsl(var(--hueSection0), 69%, 46%)) brightness(80%);
 
}
.gridShape:nth-child(n+21):nth-child(-n+21) image,.gridShape:nth-child(n+46):nth-child(-n+46) image,  .gridShape:nth-child(5n-4) image{
  filter: drop-shadow(0px 0px 14px hsl(var(--hueSection0), 69%, 48%)) brightness(90%);
}

/* .gridRect:nth-child(5n-4) {
  transition:transform 1s ease;
} */






